<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheGroupChat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/logo.png" type="image/png" />
  </head>
  <body>
    <div class="chat-container">
      <header>
        <div class="text-container">
          <div class="logo-container">
            <img class="logo" src="/logo.png" alt="TheGroupChat logo" />
          </div>
          <h1>TheGroupChat</h1>
          <p class="username-indicator">Chatting as: "<%= username %>"</p>
          <a class="edit-username" href="/"
            >Edit username<img
              class="edit-username-icon"
              src="/chevron-right.svg"
              alt="right pointing chevron"
          /></a>
        </div>
      </header>
      <main>
        <div class="text-container">
          <ul class="message-list">
            <% messages.forEach((message) => { %>
            <li class="timestamp"><%= getChatTimestamp(message.added) %></li>
            <%- include("message", {message: message}) %> <% }); %>
          </ul>
        </div>
      </main>
      <footer>
        <div class="text-container"><%- include("form") %></div>
      </footer>
    </div>
    <script>
      // Scroll to bottom of chat on load and focus on the message textbox
      window.addEventListener("load", () => {
        const chat = document.querySelector("main");
        chat.scrollTop = chat.scrollHeight;
        document.querySelector("#message-text").focus();
      });

      // Allow enter to send messages
      document
        .querySelector("#message-text")
        .addEventListener("keydown", (event) => {
          if (event.key === "Enter" && !event.shiftKey) {
            event.preventDefault();
            document.querySelector("#send").click();
          }
        });

      // Don't show popup validation for form errors
      document.addEventListener(
        "invalid",
        (e) => {
          e.preventDefault();
        },
        true
      );
    </script>
  </body>
</html>
