<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ExpressYourself</title>
  </head>
  <body>
    <h1>ExpressYourself</h1>
    <p>Chatting as: "<%= username %>"</p>
    <a href="/">Edit username</a>
    <ul>
      <% messages.forEach((message) => { %> <%- include("message", {message:
      message}) %> <% }); %>
    </ul>
    <%- include("form") %>
  </body>
</html>
