<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheGroupChat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="chat-container">
      <header>
        <div class="text-container">
          <h1>TheGroupChat</h1>
          <p>Chatting as: "<%= username %>"</p>
          <a href="/">Edit username</a>
        </div>
      </header>
      <main>
        <div class="text-container">
          <ul class="message-list">
            <% messages.forEach((message) => { %>
            <li class="timestamp"><%= getChatTimestamp(message.added) %></li>
            <%- include("message", {message: message}) %> <% }); %>
          </ul>
        </div>
      </main>
      <footer>
        <div class="text-container"><%- include("form") %></div>
      </footer>
    </div>
    <script>
      window.addEventListener("load", () => {
        const box = document.querySelector("main");
        box.scrollTop = box.scrollHeight;
      });
    </script>
  </body>
</html>
