<form class="message-form" method="POST" action="/chat/new">
  <textarea
    id="message-text"
    class="message-text"
    name="messageText"
    placeholder="Message"
    required
  ></textarea>
  <button id="send" class="send-button" type="submit">
    <img src="/arrow-up.svg" alt="up arrow" />
  </button>
</form>
