<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheGroupChat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/logo.png" type="image/png">
  </head>
  <body>
    <form class="username-form" method="POST" action="/username">
      <label class="username-label" for="username">Username</label>
      <input class="username-input" type="text" id="username" name="username" value="Anonymous"></input>
      <button class="accent-button" type="submit">Join</button>
    </form>
  </body>
</html>