<form method="POST" action="/username">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" value="Anonymous"></input>
  <button type="submit">OK</button>
</form>