/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* End of CSS Reset */

:root {
  --main-background-colour: #ffffff;
  --alternate-background-colour: #f2f2f2;
  --main-text-colour: #000000;
  --alternate-text-colour: #838383;
  --accent-colour: #0a83ff;
  --border-colour: #e3e3e3;
  --slightly-rounded-border: 12px;
  --message-border-radius: 40px;
  --chat-border: 3px solid var(--border-colour);
}

body {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.username-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.username-label {
  font-size: 1.2rem;
  font-weight: 600;
}

.username-input {
  padding: 8px;
  border: 2px solid var(--border-colour);
  border-radius: var(--slightly-rounded-border);
}

.accent-button {
  padding: 8px;
  background-color: var(--accent-colour);
  color: var(--main-background-colour);
  border: none;
  border-radius: var(--slightly-rounded-border);
  cursor: pointer;
}

.chat-container {
  display: flex;
  flex-direction: column;
  border: 12px solid black;
  height: 1100px;
  width: 650px;
  border-radius: 50px;
  overflow: hidden;
}

.text-container {
  padding: 20px;
}

.logo-container {
  padding: 8px;
  background-color: #c6c6c6;
  width: 75px;
  border-radius: 50%;
  margin: auto;
}

h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.username-indicator {
  color: var(--alternate-text-colour);
}

.edit-username {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-colour);
  text-decoration: none;
}

.edit-username-icon {
  width: 28px;
}

header,
footer {
  flex: 0 0 auto;
}

header {
  background-color: var(--alternate-background-colour);
  border-bottom: var(--chat-border);
  height: 200px;
}

header .text-container {
  text-align: center;
}

main {
  flex: 1 1 auto;
  overflow-y: auto;
}

.message-form {
  display: flex;
  align-items: center;
  width: 100%;
  border: var(--chat-border);
  border-radius: var(--message-border-radius);
}

.message-text {
  flex: 1;
  resize: none;
  border: none;
  border-top-left-radius: var(--message-border-radius);
  border-bottom-left-radius: var(--message-border-radius);
  padding: 12px 0 12px 24px;
}

.message-text:focus {
  outline: none;
}

.send-button {
  padding: 8px;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 8px;
  background-color: var(--accent-colour);
  color: var(--main-background-colour);
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
  list-style: none;
}

.message-list .timestamp,
.message-list .username {
  font-size: 0.8rem;
}

.message-list .timestamp {
  text-align: center;
  color: var(--alternate-text-colour);
}

.message-list > .message {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.message-list > .message .username {
  color: var(--alternate-text-colour);
  padding: 0 12px 4px 12px;
}

.message-list > .message .text {
  background-color: var(--alternate-background-colour);
  padding: 8px 16px;
  border-radius: 24px;
  flex: 0;
  align-self: flex-start;
  margin-bottom: 8px;
  max-width: 100%;
}

.message-list > .message:nth-child(4n) {
  align-self: flex-end;
}

.message-list > .message:nth-child(4n) .username {
  text-align: right;
}

.message-list > .message:nth-child(4n) .text {
  background-color: var(--accent-colour);
  color: var(--main-background-colour);
  align-self: flex-end;
}

@media (max-width: 700px) {
  body {
    margin: 0;
  }

  .chat-container {
    border: none;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }

  .message-form {
    height: 60px;
  }

  .message-text {
    padding: 0 0 0 12px;
    height: 24px;
  }

  .send-button {
    height: 40px;
    width: 40px;
  }
}
