/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* End of CSS Reset */

:root {
  --main-background-colour: #ffffff;
  --alternate-background-colour: #f2f2f2;
  --accent-colour: #0a83ff;
  --border-colour: #e3e3e3;
  --slightly-rounded-border: 12px;
}

body {
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.username-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  transform: translateY(-200px);
}

.username-label {
  font-size: 1.2rem;
  font-weight: 600;
}

.username-input {
  padding: 8px;
  border: 2px solid var(--border-colour);
  border-radius: var(--slightly-rounded-border);
}

.accent-button {
  padding: 8px;
  background-color: var(--accent-colour);
  color: var(--main-background-colour);
  border: none;
  border-radius: var(--slightly-rounded-border);
  cursor: pointer;
}
